.main_container {
    height: 100vh;
    width: 100%;
    background-image: url('/assets/images/pexels-hikaique-125510.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}